{% extends "sirvasmsapp/base.html" %}
{% load staticfiles %}
<!-- Contents-->
{% block contents %}


  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      <a href="#" data-toggle="modal" data-target="#modal-contacts" class="btn btn-primary  btn-sm btn-flat">Import Group Contacts</a>
      <small>Click here to Import Contact</small>
    </h1>
  <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-calendar"></i> {{ date_from }}</a></li>
      <li class="active">{{ date_to }} &nbsp;&nbsp;&nbsp; </li> 
     <a href="#" data-toggle="modal" data-target="#modal-daterange" class="btn btn-primary  btn-sm btn-flat">Search</a>
  </ol>
  </section>

  <!-- Main content -->
  <section class="content container-fluid">

   <div class="box">
    <div class="box-header">
      <h3 class="box-title"><b> Group: {{ group }} </b></h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body table-responsive">

          <table id="dataTables-example" class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>Name</th>
              <th>Number</th>
            </tr>
            </thead>

                <tbody>

                {% if contacts_list %} <!-- If Access Recrords exist in views.py -->
                  {% for acc in contacts_list %}
                  <tr class="odd gradeX">
                        <td>{{ acc.name }}</td>
                        <td>{{ acc.number }}</td>
                  </tr>

                  {% endfor %}
                {% else %}
                    <p>No Data</p>
                {% endif %}

                </tbody>

          </table>

    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->


  </section>





</div>
<!-- /.content-wrapper -->
{% endblock %}









<!-- Agent JS -->
{% block script %}
<script>
$(document).ready(function() {
    $('#dataTables-example').DataTable({
        responsive: true,
        "pageLength": 15,
        "lengthMenu": [ 10, 15, 25, 50, 75, 100 ],
        "order": [[ 0, "asc" ]]
    });
});
</script>
{% endblock %}



