{% extends "chatbotapp/base.html" %}
{% load staticfiles %}
<!-- Contents-->
{% block contents %}

 <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Responses
      <small>Please enter Name and Text</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Dashboard</li>
    </ol>
  </section>

  <div class="col-md-6">

  <section class="content container-fluid">

      <!-- /.box-header -->
      <div class="box-body">

            <form class="form-horizontal" method="post" action="/responses/add/submit/" id="loginform" class="form-group" role="form"> {% csrf_token %}

              <div class="form-group">
                <label for="inputQuestion" class="col-sm-2 control-label">Name</label>

                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputName" placeholder="Name" name="name" ></input>
                </div>
              </div>

              <div class="form-group">
                <label for="inputText" class="col-sm-2 control-label">Text</label>

                <div class="col-sm-10">
                  <textarea type="text" class="form-control" id="inputText" placeholder="Text" name="text"></textarea>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </form>
          </div>
          <!-- /.tab-pane -->

    </div>
    <!-- /.box -->

  </section>

  </div>
  <!-- col-9 -->

  <div class="col-md-6">
  </div>



{% endblock %}









<!-- Agent JS -->
{% block script %}
<script src="{% static "/dist/js/custom.js" %}"></script>

<script>
$(document).ready(function() {
    $('#dataTables-example').DataTable({
        responsive: true,
        "pageLength": 15,
        "lengthMenu": [ 10, 15, 25, 50, 75, 100 ],
        "order": [[ 0, "asc" ]]
    });
});
</script>
{% endblock %}
