{% extends "servicereferralapp/base.html" %}
{% load staticfiles %}
<!-- Contents-->
{% block contents %}

 <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      {{ info.firstname }} {{ info.lastname }}
      <small></small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Contacts</li>
      <li class="active">Add</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
      
      <!-- SELECT2 EXAMPLE -->
      <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Please Complete Contact Details</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-6">
                <form role="form" method="post" action="/portal/contacts/view/update/" >
                  {% csrf_token %}
                  <input type="hidden" name="id" value="{{ info.id }}">

                      <div class="box-body">
                        
                            <div class="form-group">
                              <div class="input-group">
                                <div class="input-group-addon">
                                  <i class="fa fa-user"></i>
                                </div>
                                <input type="text" class="form-control" placeholder="First Name" name="firstname" value="{{ info.firstname }}">
                              </div>
                            </div>
                        
                            <div class="form-group">
                              <div class="input-group">
                                <div class="input-group-addon">
                                  <i class="fa fa-user"></i>
                                </div>
                                <input type="text" class="form-control" placeholder="Last Name" name="lastname" value="{{ info.lastname }}">
                              </div>
                            </div>

                            <div class="form-group">
                              <div class="input-group">
                                <div class="input-group-addon">
                                  <i class="fa fa-phone"></i>
                                </div>
                                <input type="text" class="form-control" placeholder="Phone" name="phone" value="{{ info.phone }}">
                              </div>
                            </div>
                        
                            <div class="form-group">
                              <div class="input-group">
                                <div class="input-group-addon">
                                  <i class="fa fa-envelope"></i>
                                </div>
                                <input type="email" class="form-control" placeholder="Enter email" name="email" value="{{ info.email }}">
                              </div>
                            </div>
                        
                            <div class="form-group">
                              <div class="input-group">
                                <div class="input-group-addon">
                                  <i class="fa fa-map-marker"></i>
                                </div>
                                <input type="text" class="form-control" placeholder="Address" name="address" value="{{ info.address }}">
                              </div>
                            </div>
                        
                            <div class="form-group">
                              <div class="input-group">
                                <div class="input-group-addon">
                                  <i class="fa fa-plus-square"></i>
                                </div>
                                <input type="text" class="form-control" placeholder="Age" name="age" value="{{ info.age }}">
                              </div>
                            </div> 
                        
                            <div class="form-group">
                              <div class="input-group">
                                <div class="input-group-addon">
                                  <i class="fa fa-building"></i>
                                </div>
                                <input type="text" class="form-control" placeholder="Company" name="company" value="{{ info.company }}">
                              </div>
                            </div> 
                        
                            <div class="form-group">
                              <div class="input-group">
                                <div class="input-group-addon">
                                  <i class="fa fa-bookmark"></i>
                                </div>
                                <input type="text" class="form-control" placeholder="Position" name="position" value="{{ info.position }}">
                              </div>
                            </div> 
                        
                        
                            <div class="form-group">
                              <div class="input-group">
                                <div class="input-group-addon">
                                  <i class="fa fa-certificate"></i>
                                </div>
                                <select class="form-control" name="relationship" value="{{ info.relationship }}">
                                  <option {% if info.relationship == "Relative" %}selected="selected"{% endif %}>Relative</option>
                                  <option {% if info.relationship == "Friend" %}selected="selected"{% endif %}>Friend</option>
                                  <option {% if info.relationship == "Colleague" %}selected="selected"{% endif %}>Colleague</option>
                                </select>
                              </div>
                            </div> 


                            <button type="submit" class="btn btn-primary pull-right">Update</button>

                  
                      </div>
                      <!-- /.box-body -->   
                </form>
                <!-- /form -->
            </div>
            <!-- /.col-md-6 -->
            
            

            
          </div>
          <!-- /.row -->
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

</section>
</div>
<!-- /.outside -->

{% endblock %}

